@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 102%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgba(222, 222, 228, 0.5);
  border: 1px solid #b3b3b3;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 50px;
}

.success-box {
  margin: 50px;
  background-color: rgba(222, 222, 228, 0.5);
  border: 1px solid #b3b3b3;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 50px;
}
.success-title {
  color: #00b3b3;
  text-align: center;
  margin: 30px 0px 40px 0px;
}

.title {
  color: #00b3b3;
  text-align: center;
  margin: 30px 0px 40px 0px;
}

.fname, .lname, .phone, .email, .gender, .opt {
  margin: 10px;
  color: black;
  font-size: 15px;
}

.input {
  background-color: transparent;
  height: 32px;
  font-size: 15px;
  outline: none;
  width: 95%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 1px solid black;
  margin-bottom: 10px;
}

.radio {
  height: 15px;
  margin-left: 15px;
}

.radiolabel {
  padding-left: 5px;
}
.opt {
  overflow: hidden;
}
.opt2 {
  float: right;
  margin-top: -28px;
  padding-right: 30px;
  font-size: 15px;
}
.check {
  height: 19px;
  margin-left: 15px;
}
.checklabel {
  padding-left: 5px;
  margin-right: 5px;
}
#first {
  float:left;
}
#second {
  float:left;
  overflow: auto;
}

.error {
  color: red;
  font-size: 12px;
}
.submit {
  display: flex;
  text-transform: capitalize;
  font-size: 18px;
  border-radius: 25px;
  color: white;
  background-color: #00b3b3;
  padding: 10px 30px;
  margin: auto;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

.button:active {
  transition: translateY(2px);
}